.clock {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;

    display: flex;
    align-items: center; /* Vertikal zentrieren */
    padding-bottom: 0px;

  }
  
  .clock .hour,
  .clock .minute,
  .clock .second,
  .colon {
    margin: 0 1px; /* Abstand zwischen den Elementen */
  }
  
  .clock .hour{
    background-color: gray;
    padding: 5px 5px;
    border-radius: 10px;
    border:1px solid grey;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    color: white;
    font-weight: bold;
  }
  .clock .minute{
    background-color: gray;
    padding: 5px 5px;
    border-radius: 10px;
    border:1px solid grey; 
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    color: white;
    font-weight: bold;
  }
  .clock .second {
    background-image:radial-gradient(circle, white 10%, rgb(185, 185, 185) 90%);
    padding: 5px 5px;
    border-radius: 10px;
    border:1px solid grey; 
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    font-weight: bold;
    color: rgb(151, 151, 151);
  }
  
  .colon {
    font-size: 24px; /* Größe anpassen */
    color: #333; /* Farbe anpassen */
  }
  
  #date {
    font-family: Arial, sans-serif; /* Schriftart anpassen */
    font-size: 12px; /* Schriftgröße anpassen */
    color: #666; /* Textfarbe anpassen */
    padding-top: 5px;
    
  }
    


.time-block.active-block {
    background-color: rgba(255, 0, 0, 0.2) !important; /* Transparentes Rot */   
}
body{
    width: 100%;
    background-color: rgb(210, 210, 210);
    margin: 0;
    padding: 0;
    /*background-image: url(Bilder/whiteboard-2903269_640.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

#logo{
    width:15%;
}

#header-metropolis{
    margin-left: 12em;
    text-align: center;
    width: 35%;
}

#qrcode {
    width: 12%;
    
}
select option,
select option[selected] {
background-color: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal zentrieren */
    height: 100vh; /* 100% der Viewport-Höhe verwenden */
    margin: 0; /* Entfernen Sie den Standardseitenrand */
    margin-top:1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    background: linear-gradient(113.5deg, rgb(248, 252, 191) 22.3%, rgb(201, 234, 211) 30.6%,rgb(150, 111, 51) 50%, rgb(255, 180, 189) 70.9%, rgb(196, 223, 255) 90.9%);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto; /* Zentrieren des Headers */
    border-radius: 0px;
    border: 2px solid grey;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
   
}
.header img {
    max-width: 100%;
    height: auto;
    margin: 0;
}
.header h1 {
    margin: 0;
    text-align: center;
}

.dropdown{
    display: flex;
    justify-content: center;
     
}

h1 {
    text-align: center; /* Überschrift zentrieren */
    
}



p {
    margin: 0; /* Entfernen Sie den Standardabstand des Absatzes */
}


table {

    border-collapse: collapse;
    margin-left: 1em;
    margin-right:1em;
    


}

table tr th{
    font-size: 2em;
}

th, td {
    border: 1px none; 
    padding: 10px;
    text-align: center;
    font-size:large;
    

    
}
.pause{
    padding: 0px;
    text-align: center;
    background-color: grey;
    color:white;font-weight: 
    bold;
    font-size:12px ;
} 

/* Styling für das Dropdown-Menü */
.colorSelector {
    /*width: 120px; /* Breite des Dropdown-Menüs */
    padding: 2px; /* Innenabstand des Dropdown-Menüs */
    border: 1px solid grey; /* Rand des Dropdown-Menüs */
    cursor: pointer; /* Zeiger ändern, wenn über dem Dropdown-Menü gehalten wird */
    font-weight: bold;
    /*font-size: 1em;*/
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    text-align: center;
    margin:5px 2px 2px 2px;
  }
  


textarea {
    width: 100%;
    border: 2px solid grey;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 20px; 
    text-align: left;
    padding: 5px;   
}

.legende {
    
    display:flex;
    justify-content: center;
    margin-top: 1em;

  }
  .unterricht_cell {
    box-shadow: 1px 2px 3px 0 rgba(50,50,50,0.75);
    padding: 2px 5px 1px;
    font-size: 11px;
    color: black;
    margin: 2px 5px 2px 2px;
  }




/* Tablets wie iPad im Landscape-Modus */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* CSS-Stile für Tablets hier definieren */
  
    
    body{
        width: 100%;
        
    }
    .colorSelector{
    color: black;
    width: 100%;
    font-size: 8px;
    outline: none;
    }
    #wochenplan tbody tr td {font-size: 0.5em; } /*Text Zeitangaben kleiner*/
    textarea {
        width: 100%;
        border: 2px solid rgb(155, 155, 155);
        border-radius: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 9px;
        line-height: 10px; 
        text-align: left;
        padding: 5px;  
    }
    table {
        width: 97%;
        border-collapse: collapse;  

    }
    table tr th {
        
       margin-left: 2em; 
    
    }
    table tr th img{
    
        max-width: 40%;    
    }
    
   
    #qrcode{
        
        width:100%;
        margin-left: 5em;
        
    }
    
    #header-metropolis {
        width: 300%;
        
        
    }
    #logo {
        width: 150%;
    }
    .clock {
        font-size: 12px;
        margin-right: 2em;
        
      }

      .clock .hour,
      .clock .minute,
      .clock .second {
        border-radius: 5px;
      }

      #date{
        padding-top: 5px;
        font-size: 10px;
      }
      .colon {
        font-size: 8px;
      }
      .pause{
        font-size:9px ;
    } 
  }
  
 
 
  
  /* Smartphones */
  @media only screen 
and (min-device-width : 414px) 
and (max-device-width : 500px) {
    /* CSS-Stile für Tablets hier definieren */

    body{
        width: 100%;
        
    }
    #wochenplan tbody tr td {
        font-size: 0.2em; } /*Text Zeitangaben kleiner*/
    
    #logo{
        width: 120%;
        }

    #header-metropolis{
        margin-left: 8em;
        width:300%;
        
    }

    #qrcode{
        margin-left: 3em;
        width: 75%;
    }
    .clock {
        font-size: 8px;
        margin-left: 0.5em;
        }
    
        .clock .hour,
      .clock .minute,
      .clock .second {
        border-radius: 5px;
      }
    
        #date{
            padding-top: 5px;
            font-size: 8px;
          }
        .colon {
        font-size: 8px;
        }

    .colorSelector {
    color: black;
    width: 100%;
    font-size: 5px;
    }

    textarea {
        width: 100%;
        border: 2px solid rgb(155, 155, 155);
        border-radius: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        font-size: 9px;
        line-height: 10px; 
        text-align: left;
        padding: 5px;
    }
    table {
        width: 100%;
        margin: 0em;
        border-collapse: collapse;  
    }
    table tr th {
        font-size: 1em;
    }
    table tr th img{
        
        max-width: 40%;
    }
    .header {
        font-size: 0.8em;
    }
    .unterricht_cell {
        
        font-size: 8px;
       
      }

   
    
    .pause{
       
        font-size:8px ;
    } 
  }